*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

:root {
  --header-bgcolor: #ed9b43;
  --menu-bgcolor: #f4a261;
  --menucards-bgcolor: rgba(255, 255, 255, 0.145);
}

body {
  font-family: "roboto", "sain-serif";
}
.container {
  height: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--header-bgcolor);
  height: 4rem;
  /* position: fixed;
  left: 50%;
  transform: translate(-50%);
  width: 100%; */
}

button:nth-child(2) {
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-left: 10rem;
  padding-right: 10rem;
}

button {
  border: none;
  background-color: var(--header-bgcolor);
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}

.home {
  display: flex;
  height: 100%;
  background: url("../src/img/pizza.jpg");
  background-size: 100% 100%;
  align-items: center;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 3rem;
  background: url("../src/img/chicagopizza.jpg");
  background-position: 100rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  min-width: 400px;
  gap: 1rem;
  border-radius: 1rem;
  background-color: var(--menucards-bgcolor);
  backdrop-filter: blur(3rem);
  -webkit-backdrop-filter: blur(3rem);
  padding: 1rem;
}

.menu-img {
  width: 100%;
}

.food-name {
  color: #ffffff;
  font-size: 2rem;
}

.food-desc {
  font-size: 1.1rem;
}

.food-price {
  font-weight: bold;
  font-size: 1.2rem;
}

.about {
  display: flex;
  align-items: center;
  height: 100%;
  background: url("../src/img/pizza.jpg");
  background-size: 100% 100%;
}

.about-info {
  display: flex;
  flex-direction: column;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.237);
  backdrop-filter: blur(10rem);
  -webkit-backdrop-filter: blur(10rem);
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.about-text {
  font-size: 6rem;
}

.about-desc {
  font-size: 1.5rem;
  text-align: justify;
}

.restaurant-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  padding: 2rem;
}

.restaurant-name {
  color: #fff;
  font-size: 10rem;
  font-weight: 400;
}

.restaurant-desc {
  /* background-color: rgba(231, 144, 30, 0.843); */
  color: white;
  text-align: justify;
  font-size: 2rem;
}
